/* 星级评分样式 */

/*表格边框设置*/
.tableStyle{
    width:75%;
    border:0;
    cellspacing:0;
    cellpadding:0;
    border:1px #aaa solid;
}
/*设置表头文本样式*/
.tableTitle{
    text-align: left;
    font-family: 'Microsoft Yahei';
    font-size: 16px;
}
.foodsStyle, .title, .tips{
    font-family: 'Microsoft Yahei';
    font-size: 16px;
}
.foodsInfo{
    font-family: 'Microsoft Yahei';
    font-size: 13px;
    color:blue;
}
.imgSize{
    width:100px;
    height:100px;
}
.shop-rating {
    height: 25px;
    overflow: hidden;
    zoom: 1;
    padding: 2px 0px;
    position: relative;
    z-index: 999;
}

.shop-rating span {
    height: 23px;
    display: block;
    line-height: 23px;
    float: left;
}

.shop-rating span.title {
    width: 125px;
    text-align: right;
    margin-right: 5px;
}

.shop-rating ul {
    float: left;
    margin:0;padding:0
}

.shop-rating .result {
    margin-left: 20px;
    padding-top: 2px;
}

.shop-rating .result span {
    color: #ff6d02;
}
.shop-rating .result em {
    color: #f60;
    font-family: arial;
    font-weight: bold;
}
.shop-rating .result strong {
    color: #666666;
    font-weight: normal;
}
.rating-level,
.rating-level a {
    background: url(http://a.tbcdn.cn/app/rc/img/star_v2.png) no-repeat scroll 1000px 1000px;
}
.rating-level {
    background-position: 0px 0px;
    width: 120px;
    height: 23px;
    position: relative;
    z-index: 1000;
}
.rating-level li {
    display: inline;
}

.rating-level a {
    line-height: 23px;
    height: 23px;
    position: absolute;
    top: 0px;
    left: 0px;
    text-indent: -999em;
    *zoom: 1;
    outline: none;
}


.rating-level a.one-star {
    width: 20%;
    z-index: 6;
}

.rating-level a.two-stars {
    width: 40%;
    z-index: 5;
}

.rating-level a.three-stars {
    width: 60%;
    z-index: 4;
}

.rating-level a.four-stars {
    width: 80%;
    z-index: 3;
}

.rating-level a.five-stars {
    width: 100%;
    z-index: 2;
}
.publishComment{
    display: inline-block;
    width: 150px;
    height: 40px;
    line-height: 25px;
    background: #49a9ff;
    text-align: center;
    font-family: 'Microsoft Yahei';
    font-size: 16px;
    color:white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;

}
.rating-level .current-rating,.rating-level a:hover{background-position:0 -28px;}
.rating-level a.one-star:hover,.rating-level a.two-stars:hover,.rating-level a.one-star.current-rating,.rating-level a.two-stars.current-rating{background-position:0 -116px;}
.rating-level .three-stars .current-rating,.rating-level .four-stars .current-rating,.rating-level .five-stars .current-rating{background-position:0 -28px;}
/*靠右显示*/
.fr {
    float: right;
}

/*新开一行，靠右显示*/
.cfr{
    clear:both;
    float:right;
}

/*靠左显示*/
.fl {
    float: left;
}

/*新开一行，靠左显示*/
.cfl{
    clear:both;
    float:left;
}
.fb{
    float:bottom;
}
.cfb{
    clear:both;
    float:bottom;
}